html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
html {font-size: 62.5%;overflow-y: scroll;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body {background: hsl(0,0%,100%);}
article, aside, details, figcaption, figure, footer, header, main, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a:focus {outline: thin dotted;}
a:hover, a:active {outline: 0;}
a img {border: 0;}
body, button, input, select, textarea {color: hsl(250,10%,13%);font-family: Kadwa,serif;font-size: 16px;line-height: 1.5;}
h1, h2, h3, h4, h5, h6 {clear: both;font-family: Kadwa,serif;font-weight: 400;line-height: 1.5;}
h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
p {margin: 0 0 24px 0;}
b, strong {font-weight: bold;}
dfn, cite, em, i {font-style: italic;}
blockquote, blockquote.wp-block-quote {margin: 0 0 24px 48px;}
address {margin: 0 0 24px;}
pre {background: hsl(250,10%,93%);font-family: monospace;font-size: 16px;line-height: 1.2;margin-bottom: 24px;max-width: 100%;overflow: auto;padding: 24px;}
code, kbd, tt, var {font: 16px monospace;background: rgba(0,0,0,.2);padding: 2px 3px;}
abbr, acronym {border-bottom: 1px dotted #666;cursor: help;}
mark, ins {background: #fff9c0;text-decoration: none;}
sup, sub {font-size: 75%;height: 0;line-height: 0;position: relative;vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: .5ex;}
small {font-size: 75%;}
big {font-size: 125%;}
hr {background-color: hsl(250,10%,80%);border: 0;height: 1px;margin-bottom: 1.5em;}
ul, ol {margin: 0 0 1.5em 3em;}
ul {list-style: square;}
ol {list-style: decimal;}
li > ul, li > ol {margin-bottom: 0;margin-left: 1.5em;}
dt {font-weight: bold;}
dd {margin: 0 1.5em 1.5em;}
img {height: auto;max-width: 100%;}
figure {margin: 0;}
table {margin: 0 0 1.5em;width: 100%;}
th {font-weight: bold;}
blockquote, blockquote.wp-block-quote, .wp-block-quote p {font-size: 24px;color: hsl(250,10%,33%);}
cite, .wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {color: inherit;font-size: 16px;font-style: italic;vertical-align: top;}
button, input, select, textarea {font-size: 100%;margin: 0;vertical-align: baseline;}
button, .button, .site-main .entry-content .button, .wp-block-button__link, .site-main .entry-content .wp-block-file__button, .site-main .entry-content .wp-block-button__link, input[type="button"], input[type="reset"], input[type="submit"] {border: none;border-radius: 0;box-shadow: none;background: hsl(250,50%,50%);color: hsl(0,0%,100%);cursor: pointer;display: block;font-size: 14px;line-height: 1;padding: 13px 18px;text-decoration: none;transition: .18s all ease-in-out;}
button:focus, .button:focus, .site-main .entry-content .button:focus, .wp-block-button__link:focus, .site-main .entry-content .wp-block-file__button:focus, .site-main .entry-content .wp-block-button__link:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:hover, .button:hover, .site-main .entry-content .button:hover, .wp-block-button__link:hover, .site-main .entry-content .wp-block-file__button:hover, .site-main .entry-content .wp-block-button__link:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {background: hsl(250,10%,13%);color: hsl(0,0%,100%);text-decoration: none;box-shadow: inset 0 -3px 0;}
.button:active, .site-main .entry-content .button:active, .wp-block-button__link:active, .site-main .entry-content .wp-block-file__button:active, .site-main .entry-content .wp-block-button__link:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {-webkit-transform: scale(.95);-moz-transform: scale(.95);transform: scale(.95);}
input[type="checkbox"], input[type="radio"] {padding: 0;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {color: hsl(250,10%,33%);border: 1px solid hsl(250,10%,80%);}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {color: hsl(250,10%,13%);border: 1px solid hsl(250,10%,33%);}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {padding: 3px;}
textarea {overflow: auto;padding: 3px;vertical-align: top;width: 100%;}
.main-navigation ul li:hover > ul {left: auto;}
.main-navigation ul ul li:hover > ul {left: 100%;}
.main-navigation .current_page_item a, .main-navigation .current-menu-item a, a[aria-current] {font-style: italic;}
.main-nav li a[aria-current] {border-bottom-color: currentColor;}
.menu-toggle {display: none;}
@media screen and (max-width: 600px) {.menu-toggle, .main-navigation.toggled .nav-menu {display: block;}
	.main-navigation ul {display: none;}}
.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {margin: 0;overflow: hidden;}
.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {float: left;width: 50%;}
.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {float: right;text-align: right;width: 50%;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);clip-path: inset(50%);position: absolute !important;height: 1px;width: 1px;overflow: hidden;}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;clip-path: none;color: #21759b;display: block;font-size: 14px;font-weight: bold;height: auto;left: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
.alignleft, .wp-block-image .alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright, .wp-block-image .alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter, .wp-block-image .aligncenter {clear: both;display: block;margin: 0 auto;}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {content: "";display: table;}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {clear: both;}
.widget select {max-width: 100%;}
.widget_search .search-submit {display: none;}
.sticky {}
.byline, .updated {display: none;}
.single .byline, .group-blog .byline {display: inline;}
.comment-content a {word-wrap: break-word;}
.bypostauthor {}
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {display: none;}
.infinity-end.neverending .site-footer {display: block;}
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.wp-caption, .wp-block-image figcaption, .wp-block-audio figcaption {margin-bottom: 24px;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {display: block;margin: 0 auto;}
.wp-caption-text, .wp-caption .wp-caption-text, .wp-block-image figcaption, .wp-block-audio figcaption {text-align: center;}
.wp-caption .wp-caption-text {margin: 16px 0;color: inherit;font-size: .8em;line-height: inherit;}
::selection {background: hsl(250,50%,50%);color: hsl(0,0%,100%);}
::-moz-selection {background: hsl(250,50%,50%);color: hsl(0,0%,100%);}
body {margin: 0;padding: 0;font: normal 16px/1.5 Kadwa,serif;background: hsl(0,0%,100%);color: hsl(250,10%,13%);}
a {color: inherit;text-decoration: none;transition: .12s all ease-in-out;}
a:hover, a:focus, a:active {color: hsl(250,50%,50%);text-decoration: none;}
.entry-content a, .comment-body a, .logged-in-as a, .format-quote a, .entry-meta a {text-decoration: underline;}
.entry-title a, .site-title a, a.button, .post-categories a, .post-tags a {text-decoration: none;}
.entry-content a:hover, .entry-content a:focus, .entry-content a:active, .comment-body a:hover, .comment-body a:focus, .comment-body a:active, .enrty-meta a:hover, .enrty-meta a:focus, .enrty-meta a:active {text-decoration: none;}
.entry-title a:hover, .entry-title a:focus, .entry-title a:active, .site-title a:hover, .site-title a:focus, .site-title a:active, .site-footer a:hover, .site-footer a:focus, .site-footer a:active, .wp-playlist-item .wp-playlist-caption:hover, .wp-playlist-item .wp-playlist-caption:focus, .wp-playlist-item .wp-playlist-caption:active {text-decoration: underline;}
.widget-area a:hover, .widget-area a:focus, .widget-area a:active, .site-footer a:hover, .site-footer a:focus, .site-footer a:active {color: hsl(250,50%,70%);}
.site-header {background: hsl(250,10%,13%);color: hsl(0,0%,100%);width: 100%;padding: 0 16px;margin: 0;position: relative;z-index: 2;}
.site-header .inner {max-width: 1080px;}
.site-title a {font-size: 28px;line-height: 68px;margin: 0;float: left;color: hsl(0,0%,100%);}
.site-title a:hover, .site-title a:focus, .site-title a:active {color: hsl(250,50%,70%);}
.home .site-header {z-index: 0;}
.custom-logo {float: left;height: 68px;padding-right: 16px;width: auto;}
.site-branding {float: left;}
.site-title {float: left;clear: none;margin: 0;}
.site-header.has-header-image {background: transparent;height: auto;padding: 0;text-align: center;}
.home .has-header-image .site-branding {color: hsl(0,0%,100%);background: hsl(250,10%,13%);margin-top: calc(100vh - 127px);padding: 12px 10% 0 10%;float: none;}
.home .has-header-image .main-nav li:hover > a, .home .has-header-image .main-nav li > a:focus {color: hsl(250,50%,50%);border-bottom-color: hsl(250,50%,50%);}
.home.admin-bar .has-header-image .site-branding {margin-top: calc(100vh - 159px);}
.home .has-header-image .site-title {font-size: 96px;line-height: 1.2;float: none;}
.home .has-header-image .site-description {font-size: 36px;line-height: 1.5;padding: 0 0 24px 0;max-width: 1200px;margin: 0 auto;}
.home .has-header-image .custom-logo {float: none;height: auto;padding: 0;width: auto;}
.main-nav {float: right;margin: 0;background: hsl(250,10%,13%);}
.home .has-header-image .main-nav {display: block;clear: both;float: left;width: 100%;}
.main-nav ul {list-style: none;margin: 0;padding: 0;}
.main-nav li {float: left;margin: 0;padding: 0;position: relative;}
.main-nav li a {font-size: 16px;line-height: 1.2;padding: 24px 32px 18px 32px;display: block;text-decoration: none;color: hsl(0,0%,100%);border-bottom: 6px solid transparent;}
.main-nav li:hover > a, .main-nav li > a:focus {color: hsl(250,50%,70%);border-bottom-color: hsl(250,50%,70%);}
.main-nav .sub-menu {left: -9999px;position: absolute;background: hsl(250,10%,13%);width: 200px;text-align: center;}
.main-nav .menu-item:hover > .sub-menu, .main-nav .menu-item a:focus > .sub-menu {display: block;left: 0;z-index: 999;}
.main-nav .sub-menu li {display: block;float: none;}
.main-nav .menu-item-has-children > a:after {content: "▾";margin-left: 5px;font-size: 16px;}
.main-nav .sub-menu .menu-item-has-children > a:after {content: "▸";}
.main-nav .sub-menu .sub-menu {left: 100%;top: 0;}
.home .has-header-image .main-nav {background: hsl(250,10%,93%);}
.home .has-header-image .main-nav a {color: hsl(250,10%,13%);}
.home .has-header-image .main-nav .sub-menu {background: hsl(250,10%,93%);}
.hentry {margin: 0;padding: 0;position: relative;z-index: 1;border-top: 1px solid hsl(250,10%,33%);}
.hentry:after {content: "";width: 50%;background: hsl(0,0%,100%);height: 100%;position: absolute;right: 0;top: 0;z-index: -1;}
.entry-content {background: hsl(0,0%,100%);width: 50%;max-width: 768px;left: 50%;position: relative;padding: 48px;}
.archive .entry-visual, .home .entry-visual, .search .page .entry-visual {min-height: 100vh;}
.entry-header .entry-title, .entry-header .entry-title a {font-size: 48px;line-height: 1.25;margin-bottom: .5em;}
.entry-content .more-link {display: block;margin: 0 0 24px 0;}
.excerpt-more {display: block;clear: both;float: left;}
.site-main .entry-content .excerpt-more.button {background: hsl(250,10%,13%);color: hsl(0,0%,100%);}
.site-main .entry-content .excerpt-more:hover, .site-main .entry-content .excerpt-more:focus, .site-main .entry-content .excerpt-more:active {color: hsl(0,0%,100%);background: hsl(250,50%,50%);text-decoration: none;}
.has-post-thumbnail .entry-content {min-height: 100vh;}
.home .wp-custom-header img, .home .wp-custom-header video, .home .wp-custom-header iframe {position: fixed;top: 0;left: 0;z-index: -1;min-width: 100%;max-width: 1000%;min-height: 100%;width: auto;height: auto;}
@supports ( object-fit: cover ) {.home .wp-custom-header img, .home .wp-custom-header video, .home .wp-custom-header iframe {height: 100%;left: 0;-o-object-fit: cover;object-fit: cover;top: 0;-ms-transform: none;-moz-transform: none;-webkit-transform: none;transform: none;width: 100%;}}
.entry-visual {position: fixed;top: 0;left: 0;bottom: 0;right: 50%;z-index: -1;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center center;background-color: hsl(250,10%,13%);}
.home .entry-visual, .archive .entry-visual {z-index: 1;}
.entry-visual.more-portrait {background-size: 50% auto;background-position-y: 50%;background-position-x: 0;}
.entry-visual.more-landscape {background-size: auto 100%;background-position-y: 50%;}
.home .entry-visual, .blog .entry-visual, .archive .entry-visual, .search .entry-visual {position: absolute;}
.wp-custom-header-video-button {color: hsl(0,0%,100%);background: hsl(250,10%,13%);float: right;}
.wp-custom-header-video-button:hover, .wp-custom-header-video-button:focus {background: hsl(250,50%,50%);}
.entry-footer p {display: inline-block;margin: 0 1em 1em 0;padding: 0;}
.entry-header + .entry-footer {margin-top: 1em;}
.entry-footer.entry-meta {width: 100%;background: hsl(250,10%,93%);padding: 48px;clear: both;overflow: hidden;}
.entry-footer.entry-meta p, .entry-footer.entry-meta ul {float: left;line-height: 36px;margin: 0 48px 0 0;padding: 0;}
.entry-meta .author a {color: hsl(250,10%,13%);font-size: 18px;font-weight: bold;}
.post-categories a:focus, .post-categories a:hover, .post-categories a:active {text-decoration: none;background: hsl(250,10%,33%);color: hsl(0,0%,100%);}
.entry-meta .author:first-letter {background: hsl(250,10%,13%);color: hsl(0,0%,100%);padding: 2px 6px;margin-right: 4px;font-size: 32px;line-height: 36px;font-weight: bold;vertical-align: bottom;}
.single .entry-date {font-size: 28px;}
.post-categories {list-style: none;margin: 0;}
.post-categories li {margin: 0 0 12px 0;}
.post-categories li:last-child {margin-bottom: 0;}
.post-categories a {border: 3px solid hsl(250,10%,33%);padding: 5px 11px;color: hsl(250,10%,13%);}
.post-tags {margin: 16px 0 16px 12px;}
.post-tags {list-style: none;padding: 0 12px;}
.post-tags a {background: hsl(250,10%,33%);color: hsl(0,0%,100%);display: inline-block;white-space: nowrap;padding: 0 8px;margin: 0 0 4px 0;position: relative;font-size: 16px;line-height: 28px;}
.post-tags a:before, .post-tags a:after {content: " ";border-top: 14px solid transparent;border-bottom: 14px solid transparent;width: 24px;height: 28px;overflow: hidden;display: block;position: absolute;top: 0;}
.post-tags a:before {border-right: 12px solid hsl(250,10%,33%);left: -24px;}
.post-tags a:after {border-left: 12px solid hsl(250,10%,33%);right: -24px;}
.post-tags a:hover, .post-tags a:focus, .post-tags a:active {text-decoration: none;padding: 0 24px;color: hsl(0,0%,100%);}
.post-image.button {background: hsl(250,10%,13%);color: hsl(0,0%,100%);margin: 0 0 16px 0;display: inline-block;}
.button.post-image:hover, .button.post-image:focus, .button.post-image:active {background: hsl(250,50%,50%);text-decoration: none;}
.single .edit-link a, .page .edit-link a {font-weight: bold;display: block;}
.gallery, .wp-block-gallery {margin-bottom: 24px;}
.gallery-item {float: left;margin: 0 4px 4px 0;overflow: hidden;position: relative;}
.gallery-columns-1.gallery-size-medium, .gallery-columns-1.gallery-size-thumbnail, .gallery-columns-2.gallery-size-thumbnail {display: table;margin: 0 auto 24px;}
.gallery-columns-1 .gallery-item, .gallery-columns-2 .gallery-item {text-align: center;}
.gallery-columns-3 .gallery-item {max-width: 32%;max-width: -webkit-calc(33.33% - 4px);max-width: calc(33.33% - 4px);}
.gallery-columns-4 .gallery-item {max-width: 23%;max-width: -webkit-calc(25% - 4px);max-width: calc(25% - 4px);}
.gallery-columns-5 .gallery-item {max-width: 19%;max-width: -webkit-calc(10% - 4px);max-width: calc(10% - 4px);}
.gallery-columns-6 .gallery-item {max-width: 15%;max-width: -webkit-calc(16.7% - 4px);max-width: calc(16.7% - 4px);}
.gallery-columns-7 .gallery-item {max-width: 13%;max-width: -webkit-calc(14.28% - 4px);max-width: calc(14.28% - 4px);}
.gallery-columns-8 .gallery-item {max-width: 11%;max-width: -webkit-calc(12.5% - 4px);max-width: calc(12.5% - 4px);}
.gallery-columns-9 .gallery-item {max-width: 9%;max-width: -webkit-calc(11.1% - 4px);max-width: calc(11.1% - 4px);}
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) {margin-right: 0;}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1), .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1), .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1), .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {clear: left;}
.gallery-caption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {color: inherit;font-size: 12px;line-height: 1.5;margin: 0 0 12px;padding: 2px 6px;position: relative;text-align: center;width: 100%;}
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {display: none;}
.page-header {background: hsl(250,10%,93%);text-align: center;padding: 24px;}
.page-title {font-size: 64px;line-height: 96px;}
.page-header p {margin: 0;}
.page-header .taxonomy-description {font-size: 24px;}
ul.nav-links {list-style: none;}
.post-navigation, .paging-navigation {background: hsl(250,10%,93%);border-top: 1px solid hsl(250,10%,33%);color: hsl(250,10%,13%);padding: 48px;margin: 0;font-size: 24px;line-height: 36px;position: relative;z-index: 1;}
.post-navigation a, .paging-navigation a {color: hsl(250,10%,13%);}
.post-navigation a:focus, .post-navigation a:hover, .post-navigation a:active, .paging-navigation a:hover, .paging-navigation a:focus, .paging-navigation a:active {color: hsl(250,50%,50%);text-decoration: underline;}
.nav-links {margin: 0;}
.hentry .wp-playlist-item {padding: 11px 3px;}
.hentry .wp-playlist-item-length {top: 9px;}
.hentry .mejs-controls .mejs-time-rail .mejs-time-current, .widget .mejs-controls .mejs-time-rail .mejs-time-current {background: hsl(250,50%,70%);}
.mejs-container {margin-bottom: 24px;}
.attachment .entry-caption {font-size: 24px;font-weight: 300;line-height: 1.3;}
.comments-area {background: hsl(0,0%,100%);color: hsl(250,10%,13%);width: 768px;max-width: 50%;margin: 0;padding: 48px;left: 50%;position: relative;}
.comment-reply-title {font-size: 36px;line-height: 48px;}
.logged-in-as {margin: 16px 0;}
ol.comment-list {list-style: none;margin: 0 0 48px 0;}
.comment-list article {padding: 12px 0;border-bottom: 1px solid hsl(250,10%,80%);}
.comment .reply {float: right;margin-top: -24px;}
.comment-content p:last-child {margin-bottom: 0;}
.comment-meta .avatar {float: left;margin-right: 8px;}
.comment-meta .says {display: none;}
.comment-metadata > a {float: left;margin-left: 8px;font-size: 12px;}
.comment-metadata {line-height: 32px;margin-left: 8px;}
.comment-author.vcard {float: left;line-height: 32px;}
.comment-edit-link {float: right;}
.comment-content {display: block;clear: both;padding-top: 8px;}
ol.comment-list ol.children {list-style: none;margin-left: 32px;}
#wp-comment-cookies-consent {margin-right: 16px;}
.widget-area {background: hsl(250,10%,13%);color: hsl(0,0%,100%);margin: 0;padding: 48px;position: relative;z-index: 1;}
.widget-area a {color: hsl(250,10%,80%);text-decoration: underline;}
.widget-area a:hover, .widget-area a:focus, .widget-area a:active {text-decoration: none;}
.widget {width: 320px;max-width: 100%;}
.widget-title {font-size: 24px;line-height: 48px;}
.widget-area .inner {margin: 0 auto;max-width: 1378px;}
@media screen and (max-width:1488px) {.widget-area .inner {max-width: 1024px;}}
@media screen and (max-width:1137px) {.widget-area .inner {max-width: 674px;}}
@media screen and (max-width:784px) {.widget-area .inner {max-width: 320px;}}
.site-footer {width: 100%;background: hsl(250,10%,0%);color: hsl(250,10%,80%);padding: 16px 0;position: relative;z-index: 1;}
.site-footer a {color: hsl(250,10%,80%);}
.site-info {text-align: center;position: relative;}
.error-404 .page-content {padding: 48px;}
input.search-field {float: left;margin-right: 8px;height: 40px;padding: 4px 8px;}
.widget .search-field {width: 100%;margin: 0 0 24px 0;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
@media screen and (max-width:980px) {.home .has-header-image .site-branding {padding: 12px 24px 0 24px;}
	.has-header-image .site-title {font-size: 72px;}
	.has-header-image .site-description {font-size: 42px;}
	.entry-content, .comments-area, .post-navigation, .paging-navigation {padding: 24px;}}
@media screen and (max-width:720px) {.main-nav li a {padding: 12px 16px 9px 16px;font-size: 14px;line-height: 20px;border-bottom-width: 3px;}}
@media screen and (max-width:600px) {.has-header-image .site-title {font-size: 52px;}
	.has-header-image .site-description {font-size: 32px;}
	.entry-header .entry-title, .entry-header .entry-title a {font-size: 32px;}
	.page-title {font-size: 40px;line-height: 54px;}
	.main-nav li a {padding: 12px 16px 9px 16px;font-size: 14px;line-height: 20px;border-bottom-width: 3px;}
	.entry-visual {background-size: cover;background-position: center center;width: 100%;height: 100vh;position: relative;}
	.hentry:after {display: none;}
	.has-post-thumbnail .entry-content {min-height: auto;}
	.entry-content {width: 100%;left: 0;}
	.entry-footer.entry-meta p, .entry-footer.entry-meta ul {float: none;margin: 0 0 16px 0;display: block;}
	.entry-footer.entry-meta {padding: 24px 24px 0 24px;}
	.comments-area {max-width: 100%;left: 0;}
	.home .has-header-image .site-title {font-size: 10vw;}
	.home .has-header-image .site-description {font-size: 5vw;}
	.home .entry-visual, .blog .entry-visual, .archive .entry-visual, .search .entry-visual {position: relative;min-height: auto;height: 0;}
	.archive .has-post-thumbnail .entry-visual, .home .has-post-thumbnail .entry-visual, .blog .has-post-thumbnail .entry-visual, .search .has-post-thumbnail .entry-visual, .search .page.has-post-thumbnail .entry-visual {min-height: 100vh;}
	.entry-content {background: hsl(0,0%,100%);}}
.site-title.customize-partial-refreshing, .site-description.customize-partial-refreshing, .site-info.customize-partial-refreshing {opacity: 1;}
.customize-partial-edit-shortcut-footer_credits {position: absolute;left: 50%;top: -32px;}
.has-dark-color {color: hsl(250,10%,13%);}
.has-dark-background-color {background-color: hsl(250,10%,13%);}
.has-medium-dark-color {color: hsl(250,10%,33%);}
.has-medium-dark-background-color {background-color: hsl(250,10%,33%);}
.has-bold-color {color: hsl(250,50%,50%);}
.has-bold-background-color {background-color: hsl(250,50%,50%);}
.has-light-gray-color {color: hsl(250,10%,93%);}
.has-light-gray-background-color {background-color: hsl(250,10%,93%);}
.has-white-color {color: hsl(250,10%,100%);}
.has-white-background-color {background-color: hsl(250,10%,100%);}
.wp-block-file {margin: 16px 0;}
.site-main .entry-content .wp-block-file a:not(.wp-block-file__button) {text-decoration: none;color: inherit;}